<div class="post">
    <h2 class="title">Sample Tags</h2>
    <h3 class="posted">Posted on January 1st, 2007 by Author</h3>
    <div class="story">
      <p>An ordered list:</p>
      <ol>
        <li *ngFor="let faculty of faculties">
          <a  id="{{faculty.id}}"href="#">{{faculty.name}}</a>
        </li>
      </ol>
      <p>A blockquote: </p>
      <blockquote>
        <p> pede ligula a  sapien. Donec fermentum condimentum nisi. Proin iaculis mauris id lorem  viverra molestie. Duis vel orci. Nam consequat. Morbi nec lacus.</p>
      </blockquote>
    </div>